<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/7L5ZX4jcEmBJd2s2pDe6UC91HYFPt6os5PJ17X" crossorigin="anonymous">
</head>
<body>
<h1>Main page</h1>

<div sec:authorize="isAuthenticated()">
    <a href="/logout">Logout</a>
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin">Admin Panel</a>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <a href="/user">User Info</a>
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/registration">Register</a>
</div>
<div sec:authorize="!isAuthenticated()">
    <a href="/login">Authorization</a>
</div>
</body>
</html>
